@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-tertiary: var(--tertiary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --card: oklch(0.985 0 0);
  --card-foreground: oklch(6.72% 0 0);
  --popover: oklch(0.985 0 0);
  --popover-foreground: oklch(6.72% 0 0);
  --primary: oklch(0.34 0.1909 278.63);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(47.35% 0.159 267.18);
  --secondary-foreground: oklch(0.205 0 0);
  --tertiary: oklch(68.09% 0.226 141.72);
  --tertiary-foreground: oklch(0.205 0 0);
  --muted: oklch(65.89% 0.029 273.9);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.34 0.1909 278.63);
  --input: oklch(92.19% 0 0);
  --ring: oklch(82.68% 0.108 306.38);
  --chart-1: oklch(63.8% 0.189 290.99);
  --chart-2: oklch(51.78% 0.206 287.6);
  --chart-3: oklch(41.18% 0.219 281.44);
  --chart-4: oklch(36.3% 0.196 281.26);
  --chart-5: oklch(25.02% 0.149 277.75);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(6.72% 0 0);
  --sidebar-primary: oklch(0.34 0.1909 278.63);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(6.72% 0 0);
}

.dark {
  --background: oklch(0.15 0 0);
  --foreground: oklch(98.5% 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.36 0.1983 279.97);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(68.44% 0.149 269.36);
  --secondary-foreground: oklch(0.985 0 0);
  --tertiary: oklch(87.47% 0.231 140.8);
  --tertiary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.68 0.1697 292.19);
  --chart-2: oklch(0.56 0.1988 289.17);
  --chart-3: oklch(0.45 0.217 283.94);
  --chart-4: oklch(0.4 0.2023 283.22);
  --chart-5: oklch(0.28 0.1457 282.07);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.37 0.2227 276.33);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.bg-dynamic {
  background-color: var(--bg-color);
}

.border-dynamic {
  border: 1px solid var(--border-color);
}

.bg-dynamic:hover {
  background-color: var(--bg-color);
}

.text-dynamic {
  color: var(--text-color);
}

/* 
.bg-\[\$\{color\.bgColor\}\] {
  background-color: ${color.bgColor};
}

.bg-\[\$\{selectedColor\}\] {
  background-color: ${selectedColor};
}
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  strong {
    @apply font-extrabold;
  }
  p {
    @apply py-2;
  }
  li {
    @apply ml-8;
  }
}
