@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-tertiary: var(--tertiary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --card: oklch(0.985 0 0);
  --card-foreground: oklch(6.72% 0 0);
  --popover: oklch(0.985 0 0);
  --popover-foreground: oklch(6.72% 0 0);
  --primary: oklch(28.61% 0.159 293.25);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.45 0.2076 265.09);
  --secondary-foreground: oklch(0.985 0 0);
  --tertiary: oklch(43.6% 0.148 142.5);
  --tertiary-foreground: oklch(0.985 0 0);
  --muted: oklch(65.89% 0.029 273.9);
  --muted-foreground: oklch(0.205 0 0);
  --accent: oklch(0.73 0.066 233.92);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(37.33% 0.146 30.21);
  --destructive-foregound: oklch(0.985 0 0);
  --border: oklch(0.34 0.1909 278.63);
  --input: oklch(0.29 0.1719 275.97);
  --ring: oklch(0.31 0.1368 286.26);
  --chart-1: oklch(63.8% 0.189 290.99);
  --chart-2: oklch(51.78% 0.206 287.6);
  --chart-3: oklch(41.18% 0.219 281.44);
  --chart-4: oklch(36.3% 0.196 281.26);
  --chart-5: oklch(25.02% 0.149 277.75);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(6.72% 0 0);
  --sidebar-primary: oklch(0.34 0.1909 278.63);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(6.72% 0 0);
}

.dark {
  --background: oklch(0.12 0 0);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.18 0 0);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.18 0 0);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(26.08% 0.13 279.34);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(76.2% 0.093 242.57);
  --secondary-foreground: oklch(0.18 0 0);
  --tertiary: oklch(85.99% 0.088 146.21);
  --tertiary-foreground: oklch(0.18 0 0);
  --muted: oklch(0.25 0.05 273.9);
  --muted-foreground: oklch(0.75 0 0);
  --accent: oklch(0.89 0.0589 287.26);
  --accent-foreground: oklch(0.18 0 0);
  --destructive: oklch(59.83% 0.245 28.82);
  --destructive-foregound: oklch(0.18 0 0);
  --border: oklch(0.4 0.2 278.63);
  --input: oklch(0.25 0.15 275.97);
  --ring: oklch(0.5 0.2 286.26);
  --chart-1: oklch(0.7 0.25 290.99);
  --chart-2: oklch(0.6 0.25 287.6);
  --chart-3: oklch(0.5 0.25 281.44);
  --chart-4: oklch(0.45 0.2 281.26);
  --chart-5: oklch(0.35 0.15 277.75);
  --sidebar: oklch(0.18 0 0);
  --sidebar-foreground: oklch(0.98 0 0);
  --sidebar-primary: oklch(0.45 0.25 278.63);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.6 0.3 274.49);
  --sidebar-accent-foreground: oklch(0.18 0 0);
  --sidebar-border: oklch(0.4 0.2 278.63);
  --sidebar-ring: oklch(0.5 0.2 286.26);
}

.bg-dynamic {
  background-color: var(--bg-color);
}

.border-dynamic {
  border: 1px solid var(--border-color);
}

.bg-dynamic:hover {
  background-color: var(--bg-color);
}

.text-dynamic {
  color: var(--text-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  strong {
    @apply underline underline-offset-4 decoration-foreground/50;
  }
  p {
    @apply py-2 text-base/8;
  }
  li {
    @apply ml-8 text-base/8;
  }
}
